<?xml version='1.0' encoding='utf-8'?>
<widget 
	id="net.flexberry.ember" 
	version="0.0.1" 
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Flexberry Ember Demo</name>
    <description>
    	A Flexberry Ember Demo Application.
    </description>
    <author email="dev@flexberry.net" href="http://flexberry.net">Flexberry Team</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
